/* Version 1.2 */
Body {
    background: #ff7b0d;
    font-family: 'Muli', sans-serif;
    color: whitesmoke;
}
#nav {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: rgb(13, 54, 92);
    font-weight: bold;
}
#breadcrumbs{
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-weight: normal;
    font-size: small;
}

a[href] {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: rgb(13, 54, 92);
    font-weight: bold;
}

.spacer {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    height: 100%;
}

/*Home page name*/
.name{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    color : whitesmoke;
    font-family: 'Revalia', cursive;
    font-size: 40pt;
    font-stretch: semi-expanded;
}
/* end home page layout*/

/*buttons*/
.button {
    background-color: rgb(13, 54, 92); 
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

/*resume page layout*/
.resumebuttoncontainer {
    margin-top: 10px;
    position: relative;
    left: 70%;
}
/* end resume layout*/

/*game page layout*/
.gameGridContainer {
    display: flex;
    justify-content: center;
  }
  
  .gameGrid {
    position: relative;
    top: 10px;
    width: 900px;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
  }  
  
  .gameGridItem {
    border: 1px solid #fff;
    width: 200px;
    height: 200px;
  }
  /*end game page layout*/
  
  /*meme game layout*/
.submitButton{
    position: absolute;
    right: 15%;
    text-align: center;
}
#memeSubmit{
    position: relative;
    /*right: 14%;*/
    display: inline-block;
    background-color: cadetblue;
    color: rgb(13, 54, 92);
    width: 150px;
    font-family: 'Muli', sans-serif;
    font-size: medium;
}
#memeFormContainer{
    position: relative;
    margin-top: 10px;
}
label{
    display: inline-block;
    text-align: right;
    width: 25%;
    height: 45px;
}
input{
    display: inline-block;
    left: 0px;
    text-align: left;
    width: 60%;
}

#memeSpace {
    margin-top: 40px;
    position: relative;
}
.memeContainer {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    background: url(/images/delete.png) no-repeat;
    font-weight: bold;
    color: black;
    opacity: 1;
    transition: 0.3s;
}
.memeImage:hover {
    opacity: .3;
}
.memeImage {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    z-index: 2;
}
.topText{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.bottomText{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
}
.deleteImage{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: 50%;
    width: 200px;
    height: 200px;
    z-index: 0;
}
/*end meme game layout*/

/*photo page layout*/
.photoGridContainer {
    display: flex;
    justify-content: center;
}
  
.photoGrid {
    position: relative;
    top: 10px;
    width: 900px;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
  }  
  
.photoGridItem {
    border: 1px solid #fff;
    width: 400px;
    height: 400px;
  }
  /*end photo layout*/

  /*memory game layout*/
  #memGameInstructions {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    min-width: 750px;
    color : whitesmoke;
    font-family: 'Revalia', cursive;
    font-size: 14pt;
  }
  #memGameInstructionLayout{
      float: left;
      width: 15%;
  }
  #memGameLowScore {
    text-align: center;
    
  }
  #memGameStart {
      text-align: center;
  }
  #memGameInstructionBlock {
      float: left;
      margin-left: 10px;
      text-align: center;
      width: 75%;
  }
  #memGameNextStep {
      display: inline-block;
      width: 100%;
      height: 25px;
      font-family: 'Revalia', cursive;
      font-size: 14pt;
      text-align: center;
      color: rgb(13, 54, 92);
  }
  #memGameCardAreaframe{
      display: flex;
      width: 100%;
      min-width: 750px;
      justify-content: center;
  }
  #memGameCardArea {
      width: 750px;
      margin-top: 10px;
  }
 
  .memGameCardColums {
      float: left;
      text-align: center;
      margin-top: 5px;
      width: 25%;
      Height: 150px;
  }
  .memGameCardRows{
      margin-top: 5px;
  }
