/* Version 1.2 */
Body {
    background: #ff7b0d;
    font-family: 'Muli', sans-serif;
    color: whitesmoke;
}

.nav {
  background-color:#ff7b0d;
  overflow: hidden;
}

.nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
}

.nav span {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding-top: 14px;
  font-size: 20px;
  text-decoration: none;

}

.nav a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: whitesmoke;
  color: #ff7b0d;
}

.breadcrumbs{
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-weight: normal;
    font-size: small;
}

a[href] {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: rgb(13, 54, 92);
    font-weight: bold;
}

.spacer {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    height: 100%;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 10px;
  font-family: 'Muli', sans-serif;
  color: whitesmoke;
  font-weight: normal;
  font-size: small;
}

/*Home page name*/
.name{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    color : whitesmoke;
    font-family: 'Revalia', cursive;
    font-size: 40pt;
    font-stretch: semi-expanded;
    padding-right: 10px;
}
/* end home page layout*/

/*buttons*/
.button {
    background-color: rgb(13, 54, 92);
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

/*resume page layout*/
.resumebuttoncontainer {
    margin-top: 10px;
    position: relative;
    left: 70%;
}
.resume{
  color: rgb(39, 42, 44);
}

.resume a {
  text-decoration: none;
  color: inherit;
}

.resume li {
  max-width: 700px;
}

.resume h1 {
  color: rgb(39, 42, 44);
  margin-top: 10px;
  margin-bottom: 8px;
}

.resume table{
  width: 100%;
  max-width: 730px;
}

.job-header-title{
  color: rgb(39, 42, 44);
  text-align: left;
}

.job-header-date {
  color: rgb(39, 42, 44);
  text-align: right;
}

.company-list{
  font-style: italic;
}
/* end resume layout*/

/* Contact page layout */

.contact div {
  padding-top: 30px;
}

.contact a{
  color: inherit;
  text-decoration: none;
}

/* end contact page layout */
/*project page layout*/

.projects {
  color: whitesmoke;
}

.projects a {
  text-decoration: none;
  color: whitesmoke;
  padding-top: 40px;
}

.projects p {
  padding-top: 20px;
  padding-bottom: 40px;
}
.gameGridContainer {
    display: flex;
    justify-content: center;
}

.gameGrid {
  position: relative;
  top: 10px;
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gameGridItem {
  border: 1px solid #fff;
  width: 200px;
  height: 200px;
}
/*end project page layout*/

/*meme game layout*/
.submitButton{
    position: absolute;
    right: 15%;
    text-align: center;
}
#memeSubmit{
    position: relative;
    /*right: 14%;*/
    display: inline-block;
    background-color: cadetblue;
    color: rgb(13, 54, 92);
    width: 150px;
    font-family: 'Muli', sans-serif;
    font-size: medium;
}
#memeFormContainer{
    position: relative;
    margin-top: 10px;
}
label{
    display: inline-block;
    text-align: right;
    width: 25%;
    height: 45px;
}
input{
    display: inline-block;
    left: 0px;
    text-align: left;
    width: 60%;
}

#memeSpace {
    margin-top: 40px;
    position: relative;
}
.memeContainer {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    background: url(/images/delete.png) no-repeat;
    font-weight: bold;
    color: black;
    opacity: 1;
    transition: 0.3s;
}
.memeImage:hover {
    opacity: .3;
}
.memeImage {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    z-index: 2;
}
.topText{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.bottomText{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
}
.deleteImage{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: 50%;
    width: 200px;
    height: 200px;
    z-index: 0;
}
/*end meme game layout*/

/*memory game layout*/
#memGameInstructions {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 10px;
  min-width: 750px;
  color : whitesmoke;
  font-size: 14pt;
}
#memGameInstructionLayout{
  float: left;
  width: 15%;
}
#memGameLowScore {
  text-align: center;

}
#memGameStart {
    text-align: center;
}
#memGameInstructionBlock {
    float: left;
    margin-left: 10px;
    text-align: center;
    width: 75%;
}
#memGameNextStep {
    display: inline-block;
    width: 100%;
    height: 25px;
    font-family: 'Revalia', cursive;
    font-size: 14pt;
    text-align: center;
    color: rgb(13, 54, 92);
}
#memGameCardAreaframe{
    display: flex;
    width: 100%;
    min-width: 750px;
    justify-content: center;
}
#memGameCardArea {
    width: 750px;
    margin-top: 10px;
}

.memGameCardColums {
    float: left;
    text-align: center;
    margin-top: 5px;
    width: 25%;
    Height: 150px;
}
.memGameCardRows{
    margin-top: 5px;
}

/* Carousel */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.photos {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  /* font-family: 'Lato', sans-serif; */
}

.carousel * {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;

}

.carousel *::-webkit-scrollbar {
  width: 0;
}

.carousel *::-webkit-scrollbar-track {
  background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel * {
  -ms-overflow-style: none;
}

.carousel ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #ff7b0d;
  counter-increment: item;
}

/* .carousel__slide:nth-child(even) {
  background-color: #99f;
} */

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
